<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="\images\logo-mercado-liebre.svg" alt="Logo"width="350" height="350">
    <p>Lugar para poner la barra de búsqueda</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>
    <br>
    <ul>
        <li><a href=""></a>Creá tu cuenta</li>
        <li><a href="">Ingresá</a></li>
        <li><a href="">Mis compras</a></li>
    </ul>
    <img src="\images\img-home-banner.jpg" alt="Cosa"width="350" height="100">
    <ul>
        <li><b>Sección: Basado en tu última visita</b>
            <br>
            <img src="\images\img-cafetera-moulinex.jpg" alt="Cafetera" width="350" height="350">
            <p>
                $6.770 <br>
                40% OFF <br>
                <b>Cafetera Moulinex</b></p>
            <br>
            <img src="\images\img-macbook-pro-2019.jpg" alt="mac" width="350" height="350">
            <p>$230.000 <br>
                20% off <br>
                <b>MacBook Pro 2019</b></p>
            <br>
            <img src="\images\img-samsung-galaxy-s10.jpg" alt="Samsung" width="350" height="350"><br>
            <p>
                $70.500 <br>
                10% off <br>
                <b>Samsung Galaxy S10</b> <br>
            </p>
            <img src="\images\img-tv-samsung-smart.jpg" alt="Smart" width="350" height="350"><br>
            <p>
                $23.200 <br>
                5% off <br>
                <b>SmartTv Samsung 43"</b> <br>
            </p>

        </li>
    </ul>
    <p>
        <b>Pagá con tarjeta o en efectivo</b>
    </p> <br>
    <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
    </p> <br>
    <p>
        <b>Envío gratis desde $ 2.500</b> 
    </p><br>
    <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
    </p> <br>
    <p>
        <b>Seguridad, de principio a fin</b>
    </p><br>
    <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
    </p> <br>
    <p>
        Copyright © 1999-2020 MercadoLiebre S.R.L.
    </p>
</body>
</html>
