body{
    font-family: 'Roboto';
}
header{
    background-color: #EAC926;
    
}
.fa-bars{
    background-color: #085fbd;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
main{
    background-color: #ebebeb;
}
p{
    font-size: 12px;
}
.icon{
    color:#085fbd;
    font-size: 30px;
}
#cuotas{
    text-align: center;
}
.titulo{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
    color: #39b54a;
}
.descripciones{
    font-size: 16px;
}
footer{
    text-align: center;
}
.burger-menu{
    text-align: center;
}
#Copyright{
    text-align: left;
}
a{
    text-decoration:none;
}
